[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chess = "==1.9.4"
numpy = "==1.24.1"
fastapi = "==0.88.0"
loguru= "==0.6.0"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
main='python main.py'
