@import 'chessground/assets/chessground.base.css';
@import 'chessground/assets/chessground.brown.css';
@import 'chessground/assets/chessground.cburnett.css';

.board-wrap {
  width: var(--board-size);
  aspect-ratio: 1;
  flex: none;
  border-radius: 6px;
  overflow: hidden;
}
